// Uses tailwind's breakpoints for responsive design
$sm-breakpoint: 40rem;

header{
    background-color: #207EE6;

    #header-main{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }

    #personal-info-container{
        display: flex;
        align-items: center;

        img{
            width: 60px;
            height: 60px;
        }

        h1{
            font-size: 1.5rem;
            font-weight: bold;
            margin-left: 0.5rem;
        }
    }

    #regular-nav-bar{
        display: hidden;
        @media (min-width: $sm-breakpoint) {
            display: flex;
        }
    }
}