@use "./partials/site-defaults";
@use "./partials/_header.scss";
@use "./partials/index/_main-projects.scss";
@use "./partials/_footer.scss";

// Tailwind breakpoints
$sm-breakpoint: 40rem;
$md-breakpoint: 48rem;
$lg-breakpoint: 64rem;
$xl-breakpoint: 80rem;

// Tailwind Colors
$slate-200: oklch(92.9% 0.013 255.508);
$gray-200: oklch(92.8% 0.006 264.531);
$gray-900: oklch(21% 0.034 264.665);


// Remove all default stylings
*{margin: 0;}

main{
    #bio-section{
        align-items: center;
        @media (min-width: $sm-breakpoint){
            display: flex;
            justify-items: center;
            margin: 1.5rem 7%;
        }
        @media (min-width: $lg-breakpoint){
            margin-left: 5%;
            margin-right: 5%;
        }

        #personal-image{
            display: flex;
            justify-content: center;
            margin: 1.5rem 18%;

            @media (min-width: $sm-breakpoint){
                display: block;
                margin: 0;
                width: 32vw;
                flex-shrink: 0;
            }
            @media (min-width: $md-breakpoint){
                width: 30vw;
            }
            @media (min-width: $lg-breakpoint){
                width: 25vw;
            }

            img{
                border-radius: 100%;
                border: 5px solid black;
                max-height: 300px;
                width: calc(100% - 10px);

                @media (min-width: $sm-breakpoint){
                    max-height: none;
                }
            }
        }

        #bio-text{
            padding: 0 1.5rem 1.5rem 1.5rem;

            @media (min-width: $sm-breakpoint){
                flex-shrink: 1;
                padding: 1em;
            }
            @media (min-width: $md-breakpoint){
                padding-left: 1.5em;
            }
            @media (min-width: $lg-breakpoint){
                padding-left: 2em;
            }

            h1{
                text-align: center;
                font-size: 3.75rem;
                font-weight: 600;
                margin: 0;

                @media (min-width: $sm-breakpoint){
                    text-align: left;
                }
            }

            #introduction{
                margin: 1em 0;
                color: #333333;
                text-indent: 2em;
            }
        }
    }

    #tagline{
        margin: 0.5rem;
        padding: 1em 0;
        color: #333333;

        hr{
            margin: 0 5%;
        }
        #tagline-text{
            text-align: center;
            font-size: 1.25em;
            margin: 0.2em;
        }
    }

    // Start of Projects Section
    #projects-header{
        font-size: 2.25rem;
        text-indent: 1em;
        font-weight: bold;
        margin: 0.5em 0;
    }
    // The remainder of the projects section is in the _main-projects.scss partial

    // Start of contact me section
    #contact-me-header{
        font-size: 2.25rem;
        text-indent: 1em;
        font-weight: bold;
        margin: 2.5em 0 0.4em 0;
    }

    #contact-me-section{
        display: block;

        @media (min-width: $sm-breakpoint){
            display: flex;
        }

        #social-medias-section{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0.5rem;

            @media (min-width: $sm-breakpoint){
                flex-direction: column;
                margin-left: 2rem;
            }
            @media (min-width: $lg-breakpoint){
                flex-grow: 1;
            }

            #social-medias-header{
                display: none;
                font-size: 1.125rem;
                text-align: center;
                font-weight: 600;

                @media (min-width: $sm-breakpoint){
                    display: block;
                }
                @media (min-width: $lg-breakpoint){
                    text-align: left;
                }
            }

            #social-media-link{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                width: fit-content;
                border-radius: 0.75rem;
                padding: 0.55em 0.9em;
                transition: background-color 0.3s;

                &:hover{background-color: $slate-200;}

                i{
                    font-size: 3em;
                    margin-right: 0.1em;
                    transition-property: color;

                    &:hover{color: $gray-900;}
                }
                #social-text{
                    font-weight: bold;
                    #social-name{
                        font-size: 1.25rem;
                    }
                    #social-handle{
                        font-size: 0.875rem;
                        color: #333333;
                    }
                }
            }
        }

        #email-me-section{
            flex-grow: 1;
            margin: 1rem 7% 0 7%;

            @media (min-width: $sm-breakpoint){
                margin: 0 2rem 0 1rem;
            }
            @media (min-width: $lg-breakpoint){
                flex-grow: 7;
            }

            #email-me-header-container{
                display: flex;
                justify-content: space-between;
                padding: 0 0.5em;

                #email-me-header{
                    font-size: 1.125rem;
                    font-weight: 600;
                }
                a{
                    color: #0078d7;
                    text-decoration: underline;
                }
            }

            form{
                padding: 1em;
                border: 4px solid black;
                border-radius: 0.75rem;

                .input-container{
                    margin-bottom: 0.3em;

                    input{
                        border: 2px solid black;
                        border-radius: 0.25rem;
                    }
                }

                #email-input-container > input{
                    width: 70%;
                }
                #subject-input-container.input-container{
                    margin: 0.8em 0 0.1em 0;

                    input{
                        width: 60%;
                        &:active{border-color: #0078d7;}
                    }
                }
                #message-input-container{
                    textarea{
                        width: 100%;
                        min-height: 50px;
                    }
                }

                #email-me-buttons{
                    display: flex;
                    justify-content: space-between;

                    button{
                        // border-2 rounded-md py-[0.1em] px-[0.6em] min-w-[4.75rem] hover:bg-gray-200 transition-colors duration-300
                        padding: 0.2em 0.6em;
                        min-width: 4.75rem;
                        border-radius: 0.375rem;
                        border: 2px solid black;
                        font-size: 0.9em;

                        transition: background-color 0.3s;
                        &:hover{
                            background-color: $gray-200;
                        }
                    }
                }
            }
        }
    }
}